
/*=============================================
BANNER-INTERIOR
=============================================*/

.bannerInterior figure{
	position:relative;
	height:300px;
	overflow: hidden;
}

.bannerInterior figure:before{
	position:absolute;
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
}

/*=============================================
INFO-RESERVAS
=============================================*/

.infoReservas{
	position: relative;
	margin-top:-20px;
}

.infoReservas .colIzqReservas{
	position:relative;
	margin-top:-170px;
}

.colIzqReservas button{
	border-radius:0;
	background:black;
	color:white;
}

.colDerReservas{
	transition:0.3s all;
}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px hacia abajo)
=============================================*/

@media (max-width:768px){

	.infoReservas .colIzqReservas .headerReservas{
		background: black;
	}

	.infoReservas .colIzqReservas .headerReservas h1{
		font-size:20px;
	}

	.infoReservas .colIzqReservas .calendarioReservas h1{
		font-size:16px;
	}

	.infoReservas .colIzqReservas .calendarioReservas ul li{
		font-size:14px;
	}
	

}